body {
    background-image: url('C:/Users/ludwi/Desktop/code201/lab2/img/granite mountain.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 400px;
}
#profile-pic {
    float: left;
    margin-right: 8px;
}

h1 {
    background-color: rgb(225, 235, 247);
    padding: 10px;
    border-style: double;
    position: absolute;
    left: 640px;
}
p {
    width: 600px;
    height: 150px;
    border-width: 2px, 2px, 2px, 2px;
    border-style: double;
    padding: 10px;
    background-color:rgb(144, 235, 238);
    position: relative;
    top: 100px;
    left: 460px;
}
ol {
    position: relative;
    top: 100px;
    left:550px;
    background-color: rgb(144,235,238);
    border-style: double;
}
